{% extends "base.html" %}

{% block content %}
    <div style="display: flex; flex-direction: row; justify-content: space-between">
    <h3>Personenwagen erstellen</h3>
    </div>
    <form id="passenger_wagon" action="{{url_for('passenger_wagon_create')}}" method="post">
     <div>
         <label id="name">Bezeichnung: </label>
         <input class="inputField" type="text" name="Bezeichnung">
     </div>
     <div>
          <label for="track_width">Spurweite: </label>
            <select class="inputField" name="Spurweite" id="track_width">
                <option value='M'>Meterspur</option>
                <option value='S'>Schmalspur</option>
            </select>
     </div>
     <div>
         <label id="seats">Sitzanzahl: </label>
         <input class="inputField" type="number" name="Sitzanzahl">
     </div>
     <div>
         <label id="max_capacity">Max. Gewicht: </label>
         <input class="inputField" type="number" name="Max. Gewicht">
     </div>
          <button class="submitButton" type="submit">Personenwagen erstellen</button>
        </form>
        {% if success is not none and success == True %}
            <h4>Personenwagen {{ passenger_wagon }} angelegt!</h4>
        {% endif %}
{% endblock %}