{% extends "base_ma.html" %}

{% block content %}
    <div>
    <h1>Routes:</h1>
    </div>
<table>
  <thead style="border-radius: 0.5rem">
            <tr class="tableHeader">

        <th>ID </th>
        <th>startStation</th>
        <th>endStation</th>
        <th>sections</th>
        <th>warning</th>
    </tr>
  </thead>
<tbody>

    {% for route in routes %}
    <tr class="tableContent">
    <td> {{ route.id }} </td>
    <td> {{ route.startStation }}</td>
    <td> {{ route.endStation }}</td>
        <td>{% for section in route.routeSection.all() %}
            {{ section.name }}
        {% endfor %}</td>

            <td>{% for section in route.routeSection.all() %}
                    {% for w in warning %}

                        {% if section.name == w.section and loop.first%}
                            <button onclick="window.location.href='{{ url_for('warning_ma_detail', routeID =  route.id) }}';"> Detail </button>
                        {% endif %}
                    {% endfor %}

        {% endfor %}</td>

    </tr>
    {% endfor %}
</tbody>
</table>
    </div>
{% endblock %}