{% extends "base_ma.html" %}

{% block content %}
    <div>
    <h1>Sections: </h1>
    </div>

           <thead style="border-radius: 0.5rem">
            <tr class="tableHeader">
        <th>ID </th>
        <th>Name </th>
        <th>startStation</th>
        <th>endStation</th>
        <th>distance</th>
                <th>maxSpeed</th>
                <th>width</th>
                <th>usageFee</th>
                <th>warning</th>
    </tr>
           </thead>
<tbody>
    {% for section in sections %}
    <tr class="tableContent">
    <td> {{ section.id }} </td>
    <td> {{ section.name }}</td>
    <td> {{ section.startStation }}</td>
    <td> {{ section.endStation }}</td>
    <td> {{ section.distance }}</td>
        <td> {{ section.maxSpeed }}</td>
        <td> {{ section.width }}</td>
        <td> {{ section.usageFee }}</td>
       <td>{% for w in warning %}
           {%  if section.name == w.section %}
                     {{ w.description }}

            {% endif %}
        {% endfor %}</td>


    </tr>

            {% endfor %}
   </tbody>

   </table>
    </div>
{% endblock %}