{% extends "base.html" %}

{% block content %}
    <div>
    <h1>Stations: </h1>
    </div>

    <table>
        <thead style="border-radius: 0.5rem">
            <tr class="tableHeader">
        <th>ID </th>
        <th>Name </th>
        <th>Straße</th>
        <th>Ort</th>
        <th>PLZ</th>
                <th></th>

    </tr>
    </thead>

    <tbody>
    {% for station in stations %}
    <tr class="tableContent">
    <td> {{ station.id }} </td>
    <td> {{ station.name }}</td>
    <td> {{ station.road }}</td>
    <td> {{ station.place }}</td>
    <td> {{ station.postal }}</td>
    <td> <button onclick="window.location.href='{{ url_for('station_edit2', stationName =  station.name) }}';"> Bearbeiten </button> </td> <td> <button onclick="window.location.href='{{ url_for('station_delete2', stationName =  station.name) }}';"> Löschen </button> </td>

    </tr>
                {% endfor %}
</tbody>
    </table>
    </div>
{% endblock %}