<!doctype html>
<html lang="de" style="height: 100%">

<link rel="stylesheet" href="/static/login.css">

<head>
    <title>Fahrplan-Informationssystem</title>
</head>
<body style="height: 100%;margin:0">


<div style="display: flex; flex-direction:column;justify-content: center;height:100%;align-items: center">
    <h1>Einloggen</h1>
    <div class="card">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>

</div>
</body>