*, *::before, *::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #1029d9;
    text-align: center;
}

body {
    background-color: #333333;
}

button {
    border-color: unset;
    border-width: unset;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
}

.submitButton {
    border-color: unset;
    border-width: unset;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    background-color: #1029d9;
    color: white;
    margin: 5px;
}

.logoutButton {
    background-color: #333333;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
}

#logoutContainer {
    text-align: right;
    padding: 0.5rem
}

.linkContainer {
    padding: 5rem 0;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.navLink {
    background-color: #c4c4c4;
    border-color: unset;
    border-width: unset;
    border-radius: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    border: none;
    margin: 10px;
}

.siteLink {
    background-color: #c4c4c4;
    border-color: unset;
    border-width: unset;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
}

.active {
    background-color: #1029d9;
}

#leftMenu {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    flex: 0 1 20%;
    background-color: #7C7C7C;
    border-radius: 1rem;
}

#leftMenuContainer {
    height: 100%;
    padding: 1rem;
    flex: 0 1 20%;
}

#rightOptionsContainer {
    padding: 0 1rem 1rem 1rem;
}

#rightOptions {
    padding: 2rem;
    background-color: #505050;
    height: 100%;
    border-radius: 1rem;
}

.inputField {
    background-color: #7C7C7C;
    color: white;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
}
input{
        background-color: #7C7C7C;
    color: white;
    height: 2rem;
        width: 20rem;

    border-radius: 0.5rem;
    border: none;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

input[type="radio"]{
        width: 1rem;
}

select{
    background-color: #7C7C7C;
    color: white;
    height: 2rem;
    width: 20rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

select[id="sections"]{
                background-color: #7C7C7C;
    color: white;
    height: 8rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;

}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.tableHeader {
    border-bottom: 1px solid white;
}

.tableContent {
    overflow-x: auto;
    margin-top: 0;
}

th {
    padding: 1rem;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

td[id='create'] {
    border: 1px solid ;

  padding: 8px;
    text-align: left;
    vertical-align: middle;
        color: #fff;

}

table[id='create']{
      border-collapse: collapse;
  width: 100%;
    border-radius: 4px;
}