{#{% extends "base.html" %}#}
<link rel="stylesheet" href="/styles/style.css">
{% block content %}
    <div style="display: flex; justify-content: center; align-items: center; height: 100%">
        <div id="loginContainer">
            <form action="" method="post" novalidate style="margin: 2rem">
                <h1>Einloggen</h1>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit() }}</p>
            </form>
            <div id="vl"></div>
            <div style="margin: 2rem">
                <h1>Registrieren</h1>
                <p>Neuer User? Klicken Sie unten um sich Registrieren zu können</p>
                <button class="submitButton">
                    <a href="{{ url_for('register') }}">Jetzt registrieren</a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}