{% extends "base.html" %}

{% block content %}
    <div style="display: flex; flex-direction: row; justify-content: space-between">
        <h1>Aktionen bearbeiten</h1>
        <div style="display: flex; align-items: center">
            <a class="siteLink" href="{{ url_for('promotion_overview') }}">zurück zur Aktionsübersicht</a>
        </div>
    </div>
    <form id="promotion" action="{{url_for('promotion_edit', promotion_id=promotion.id)}}" method="post">
    <div>
      <label for="route">Strecke</label>
        <select class="inputField" name="Route" id="route">
            {% for route in routes %}
            <option {{ "selected" if route.id == promotion.route_id }}  value="{{ route.id }}">{{ route.stops[0].station.name }} - {{ route.stops[-1].station.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
      <label for="amount">Preisnachlass in %</label>
      <input class="inputField" id="amount" type="number" name="Prozent" value="{{ promotion.percent }}"/>
    </div>
    <div>
      <label for="begin">Beginn der Aktion</label>
      <input class="inputField" id="begin" type="date" name="Beginn" value="{{ promotion.start_date }}"/>
        <label for="end">Ende der Aktion</label>
      <input class="inputField" id="end" type="date" name="Ende" value="{{ promotion.end_date }}"/>
    </div>
      <button class="submitButton" type="submit">Speichern</button>
    </form>
    {% if success is not none and success == True %}
        <h3>Ihre Aktion wurde erfolgreich gespeichert!</h3>
    {% endif %}
{% endblock %}