{% extends "application_base.html" %}

{% block content %}
    <h1>Mitarbeiter</h1>
    <a href="{{ url_for("employee_create") }}">Mitarbeiter hinzufügen</a>
    <table>
        <tr>
            <th>
                ID
            </th>
            <th>
                Benutzername
            </th>
            <th>
                Vorname
            </th>
            <th>
                Nachname
            </th>
        </tr>
        {% for employee in employees %}
            <tr>
                <td>
                    <span>
                    {{ employee.id }}
                    </span>
                </td>
                <td>
                    <span>
                    {{ employee.username }}
                     </span>
                </td>
                <td>
                    <span>
                    {{ employee.first_name if employee.first_name is not none }}
                    </span>
                </td>
                <td>
                    <span>
                    {{ employee.last_name if employee.last_name is not none }}
                    </span>
                </td>
                <td>
                    <a href="{{ url_for('employee_show', employee_id=employee.id) }}">
                        Details
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('employee_delete', employee_id=employee.id) }}">
                        Löschen
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}