{% extends "base.html" %}

{% block content %}
    <div style="display: flex; justify-content: flex-end; flex-direction: row">
     {% if current_user.is_admin() %}
          <a href="{{ url_for('engine_wagon_create') }}">Triebkraftwagen anlegen</a>
        {% endif %}
    </div>

    <h3>Triebkraftwagenübersicht</h3>
    <form id="railway_wagon" action="{{url_for('engine_wagon_overview')}}" method="post">
        <table>
            <thead style="border-radius: 0.5px">
            <tr class="tableHeader">
                <th>Id</th>
                <th>Bezeichnung</th>
                <th>Spurweite</th>
                <th>Max. Zugkraft</th>
            </tr>
            </thead>
            <tbody>
                {% for engine_wagon in data %}
                    <tr class="tableContent">
                        <td>{{ engine_wagon.id }}</td>
                        <td>{{ engine_wagon.name }}</td>
                        <td>{{ engine_wagon.track_width }}</td>
                        <td>{{ engine_wagon.max_traction }}</td>
                        {% if current_user.is_admin() %}
                          <td><a class="siteLink" href="{{ url_for('engine_wagon_edit', engine_wagon_id=engine_wagon.id) }}">Bearbeiten</a></td>
                        <td><a class="siteLink" href="{{ url_for('engine_wagon_delete', engine_wagon_id=engine_wagon.id) }}">Löschen</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </form>
        {% if success == False %}
            <h4>Fehler: Triebkraftwagen einem Zug zugeordnet!</h4>
            {% elif success is not none and success == True %}
            <h4>Triebkraftwagen gelöscht!</h4>
        {% endif %}
{% endblock %}