*, *::before, *::after {
    box-sizing: border-box;
}

button {
    border-radius: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    border: none;
}

button[type="submit"] {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

input[type="submit"] {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
}

input[type="submit"]:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #9ad8f5;
}

a:hover {
    color: #9ad8f566;
}

body {
    background-color: #333333;
}

table {
    text-align: left;
}

.logoutButton {
    background-color: #333333;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
}

.navButton {
    background-color: #c4c4c4;
}

.active {
    background-color: #9ad8f5;
}

#leftMenu {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    flex: 0 1 20%;
    background-color: #8b8b8b;
    border-radius: 1rem;
}

#leftMenuContainer {
    height: 100%;
    padding: 1rem;
    flex: 0 1 20%;
}

#rightOptionsContainer {
    padding: 0 1rem 1rem 1rem;
}

#rightOptions {
    padding: 2rem;
    background-color: #797676;
    height: 90%;
    border-radius: 1rem;
}

hr {
    border-color: black;
}

input[type="checkbox"] {
    display: none;
}

label {
    cursor: pointer;
}

input[type="checkbox"] + label:before {
    border: 1px solid #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    width: 16px;
    margin: 0 .5em 0 0;
    padding: 0;
    vertical-align: top;
}

input[type="checkbox"]:checked + label:before {
    border: 1px solid #fff;
    background: #fff;
    color: #333;
    content: "\2713";
    text-align: center;
}

table {
    width: 100%;
}

/*.tripTable tr > td:nth-child(2){*/
/*    text-align: center;*/
/*}*/
